@model Turnos.Models.Especialidad

<h1>¿Esta usted seguro de eliminar el siguiente registro?</h1>
<div>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Descripcion)</dt>
        <dd>@Html.DisplayFor(model => model.Descripcion)</dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEspecialidad">
        <input type="submit" value="Eliminar">
    </form>
    <div>
        <a asp-action="Index">Volver</a>
    </div>
</div>