<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <meta charset="utf-8">
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                @*Aquí va un comentario*@
                <tr>
                    <td>Traumatologo</td>
                </tr>
                <tr>
                    <td>Cardíologo</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>