@model IEnumerable<Turnos.Models.Especialidad>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.IdEspecialidad)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Descripcion)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdEspecialidad</td>
                <td>@item.Descripcion</td>
            </tr>
        }
    </tbody>
</table>